* {
    padding: 0;
    margin: 0;
    min-width: none;
    font-family: 'Courier New', Courier, monospace;
    transform-style: preserve-3d;
    image-rendering: pixelated;
}

:root {
    --left-column: rgba(255, 0, 0, 0.5);
    --down-column: rgba(0, 255, 0, 0.5);
    --up-column: rgba(0, 255, 255, 0.5);
    --right-column: rgba(255, 192, 203, 0.5);
}

html {
    perspective: 20cm;
}

body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;

    .player {
        width: 300px;
        height: 700px;
        left: 50vw;
        top: 50vh;
        position: fixed;
        translate: -50% -50%;

        .receptors {
            width: 100%;
            height: 75px;
            display: flex;
            
            .receptor {
                width: 100%;
                height: 100%;
                background-image: url("./images/8bitnote/Down\ Receptor\ 2x1.png");
                background-size: 200% 100%;
                background-repeat: no-repeat;
            }

            .left {
                transform: rotateZ(90deg);
            }
            .up {
                transform: rotateZ(-180deg);
            }
            .right {
                transform: rotateZ(-90deg);
            }
        }

        .notefield {
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            display: inline-flex;
            align-content: space-between;

            .line {
                width: 100%;
                height: 100%;

                .tap {
                    background-color: white;
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 75px;
                    height: 75px;
                    animation: zoom 1s linear infinite;
                }

            }
            
            
            .left {
                background-color: var(--left-column);
            }
            .down {
                background-color: var(--down-column);
            }
            .up {
                background-color: var(--up-column);
            }
            .right {
                background-color: var(--right-column);
            }
        }
    }
}

@keyframes zoom {
    0% {
        scale: 1;
    }
}